*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #191970;
color: white;
}
.logo{
text-decoration: none;
color: whitesmoke;
font-size: 2.6em;
padding: 13px;
text-transform: capitalize;
margin: 10px;
text-shadow: 3px 4px #008B8B;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 4px 3px  #008B8B;
}
nav{
  width: 50%;
  display: grid;
  grid-template-columns: 9fr 0fr;
}
nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-align: center;
  text-decoration: none;
  color:  whitesmoke;
  font-size: 20px;
  font-weight: 600;
}
/* home styles */
.hero{
  width: 100%;
  height: auto;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
}
.quize-header{
  display: flex;
  justify-content: center;
}
.quize-header h3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #008B8B;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 2.9em;
  text-transform: capitalize;
  font-weight: 600;
}
.intro h1{
  padding: 10px;
  text-align: center;
}
.intro p{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}
.buttons{
  display: flex;
  justify-content: flex-start;
}
.btn{
  background-color: #FFD700;
  margin-left: 18px;
  padding: 7px;
  font-size: 18px;
  width: 130px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
}
.btn:hover{
  background-color:  #e6c200;
  cursor: pointer;

}
.btn a{
color: #000000;
text-decoration: none;
}
.categories{
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: minmax(200px);
  place-items: center;
}
.categories p{
  color: white;
  width: 50%;
  font-size: 18px;
  text-align: center;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: #008B8B;
}
.categories h1{
  text-transform: capitalize;
}
.game-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.9rem;
  margin: 10px;
  padding: 5px;
  color: #FFD700; 
}

.quiz {
  display: flex;
  justify-content: center;
}

.quiz p {
  background-color:  #008B8B; 
  color: #FFD700; 
  font-weight: 700;
  font-size: 1.3em;
  width: calc(40%);
  height: 130px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 10px;
}

.selections {
  display: grid;
  place-items: center;
}

.selections p {
  width: 300px;
  margin: 10px;
  padding: 12px;
  color: #FFD700; 
  border: 1px solid #FFD700; 
  border-radius: 5px;
  background-color: #191970; 
  font-size: 1.6em;
  text-transform: capitalize;
}
